@import 'tailwindcss';
@source "../";

@theme {
  --font-display: var(--font-cinzel);
  --font-sans: var(--font-montserrat);

  --color-primary: #824632;
  --color-secondary: #a86b52;
  --color-accent: #f5f5dc;
  --color-brand: #644836;
  --color-whatsapp: #25d366;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-brand bg-[#fdfcfb];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}
