@import 'tailwindcss';

@theme {
  --font-display: var(--font-cinzel);
  --font-sans: var(--font-montserrat);

  --color-primary: #824632;
  --color-secondary: #a86b52;
  --color-accent: #f5f5dc;
  --color-brand: #644836;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-brand bg-[#fdfcfb];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@keyframes pulse-whatsapp {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

@keyframes pulse-whatsapp-brown {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(130, 70, 50, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(130, 70, 50, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(130, 70, 50, 0);
  }
}

@keyframes pulse-whatsapp-white {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.animate-whatsapp {
  animation: pulse-whatsapp 3s infinite;
}

.animate-whatsapp-brown {
  animation: pulse-whatsapp-brown 3s infinite;
}

.animate-whatsapp-white {
  animation: pulse-whatsapp-white 3s infinite;
}
